body {
    background-color: #ebebeb;
}

p {
    font-size: 16px;
}

.page-content {
    max-width: 1000px;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.mdl-card__title {
    height: 300px;
}

.mdl-card-wide {
    width: 100%;
}

.mdl-card__supporting-text {
    width: auto;
}

.centered {
    margin-left: 38%;
}

.padme {
    margin-bottom: 30px;
}

.whitebkg {
    background-color: white;
}